.backbone-tree {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-family: Helvetica, Arial, Tahoma;
}

.backbone-tree ul, .backbone-tree li {
    margin: 0;
    padding: 0;
}

.backbone-tree ul {
    list-style-type: none;
}

.backbone-tree .backbone-tree-label {
    margin: 0;
    padding: 0;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    vertical-align: top;
}

.backbone-tree li > ul {
    min-height: 18px;
    margin-left: 18px;
    margin-top: 3px;
}

.backbone-tree .backbone-tree-expandable > ul {
    display: none;  
}

.backbone-tree-default li {
    background-image: url("../img/bg.png");
    background-repeat: repeat-y;
}

.backbone-tree-default .backbone-tree-label {
    color: #000;
    font-size: 13px;
    font-weight: normal;
    height: 17px;
    line-height: 17px;
    padding: 0 2px;
}

.backbone-tree-default .backbone-tree-hovered {
    border: 1px solid #b2d9ff;
    cursor: pointer;
    margin: -1px -1px;
    background-color: #e0ecf5;
}

.backbone-tree-default .backbone-tree-selected {
    border: none;
    margin: 0;
    background-color: #3399ff;
    color: #fff;
}

.backbone-tree-default .backbone-tree-icon {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    width: 17px;
    height: 17px;
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
}

.backbone-tree-default .backbone-tree-collapsible > .backbone-tree-icon {
    background-position: -128px 0;
}
.backbone-tree-default .backbone-tree-expandable > .backbone-tree-icon {
    background-position: -112px 0;
}
.backbone-tree-default .backbone-tree-leaf > .backbone-tree-icon {
    background-position: -80px 0;
}

.backbone-tree-default .backbone-tree-nav-icon {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}

.backbone-tree-default .backbone-tree-expandable > .backbone-tree-nav-icon:hover,
.backbone-tree-default .backbone-tree-collapsible > .backbone-tree-nav-icon:hover {
    cursor: pointer;
}

.backbone-tree-default > ul > .backbone-tree-first > .backbone-tree-nav-icon {
    background-position: 0 -17px;
}
.backbone-tree-default > ul > .backbone-tree-single > .backbone-tree-nav-icon {
    background-position: 0 -51px;
}
.backbone-tree-default .backbone-tree-last > .backbone-tree-nav-icon,
.backbone-tree-default .backbone-tree-single > .backbone-tree-nav-icon {
    background-position: 0 -34px;
}
.backbone-tree-default .backbone-tree-expandable > .backbone-tree-nav-icon {
    background-image: url("../img/expandable-icons.png");
}
.backbone-tree-default .backbone-tree-collapsible > .backbone-tree-nav-icon {
    background-image: url("../img/collapsible-icons.png");
}
.backbone-tree-default .backbone-tree-leaf > .backbone-tree-nav-icon {
    background-image: url("../img/leaf-icons.png");
}

.backbone-tree-default .backbone-tree-single {
    background: none;
}
.backbone-tree-default .backbone-tree-last {
    background: none;
}

.ext_xml {     
    background-image: url(../img/icons/code.png) !important;  
    background-position: top left !important; 
    background-repeat: no-repeat !important; 
}

.ext_3gp { 
    background-image: url(../img/icons/film.png) !important; 
    background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_afp { background-image: url(../img/icons/code.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_afpa { background-image: url(../img/icons/code.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_asp { background-image: url(../img/icons/code.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_aspx { background-image: url(../img/icons/code.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_avi { background-image: url(../img/icons/film.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_bat { background-image: url(../img/icons/application.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_bmp { background-image: url(../img/icons/picture.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_c { background-image: url(../img/icons/code.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_cfm { background-image: url(../img/icons/code.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_cgi { background-image: url(../img/icons/code.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_com { background-image: url(../img/icons/application.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_cpp { background-image: url(../img/icons/code.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_css { background-image: url(../img/icons/css.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_doc { background-image: url(../img/icons/doc.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_exe { background-image: url(../img/icons/application.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_gif { background-image: url(../img/icons/picture.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_fla { background-image: url(../img/icons/flash.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_h { background-image: url(../img/icons/code.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_htm { background-image: url(../img/icons/html.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_html { background-image: url(../img/icons/html.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_jar { background-image: url(../img/icons/java.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_jpg { background-image: url(../img/icons/picture.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_jpeg { background-image: url(../img/icons/picture.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_js { background-image: url(../img/icons/script.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_lasso { background-image: url(../img/icons/code.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_log { background-image: url(../img/icons/txt.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_m4p { background-image: url(../img/icons/music.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_mov { background-image: url(../img/icons/film.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_mp3 { background-image: url(../img/icons/music.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_mp4 { background-image: url(../img/icons/film.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_mpg { background-image: url(../img/icons/film.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_mpeg { background-image: url(../img/icons/film.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_ogg { background-image: url(../img/icons/music.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_pcx { background-image: url(../img/icons/picture.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_pdf { background-image: url(../img/icons/pdf.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_php { background-image: url(../img/icons/php.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_png { background-image: url(../img/icons/picture.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_ppt { background-image: url(../img/icons/ppt.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_psd { background-image: url(../img/icons/psd.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_pl { background-image: url(../img/icons/script.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_py { background-image: url(../img/icons/script.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_rb { background-image: url(../img/icons/ruby.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_rbx { background-image: url(../img/icons/ruby.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_rhtml { background-image: url(../img/icons/ruby.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_rpm { background-image: url(../img/icons/linux.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_ruby { background-image: url(../img/icons/ruby.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_sql { background-image: url(../img/icons/db.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_swf { background-image: url(../img/icons/flash.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_tif { background-image: url(../img/icons/picture.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_tiff { background-image: url(../img/icons/picture.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_txt { background-image: url(../img/icons/txt.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_vb { background-image: url(../img/icons/code.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_wav { background-image: url(../img/icons/music.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_wmv { background-image: url(../img/icons/film.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_xls { background-image: url(../img/icons/xls.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
.ext_zip { background-image: url(../img/icons/zip.png) !important; background-position: top left !important; 
    background-repeat: no-repeat !important; 
}
